@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Seguros Falabella</h1>
    <p class="lead">Contamos con los mejores servicios y seguros que podra encontrar por favor seleccione alguna opcion.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Compañias</h2>
        <p>
            Consulte las empresas aseguradoras con las que actualmente contamos
        </p>
        <p><a class="btn btn-info" @Html.ActionLink("Compañias", "Index", "Companies") &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Productos</h2>
        <p>Consulte la gama de productos a nuestra disposicion y conozcalos mejor</p>
        <p><a class="btn btn-info" @Html.ActionLink("Productos", "Index", "RolSegs") &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Compra</h2>
        <p>Conoce cual servicio es el necesario ingrese aqui y adquieralo</p>
        <p><a class="btn btn-info" @Html.ActionLink("Cotizacion", "Create", "Sales") &raquo;</a></p>
    </div>
</div>